$$
P(A|B) = \frac{P(B|A)P(A)}{P(B)}
$$

In [1]:
from sklearn.datasets import load_iris

In [2]:
iris = load_iris()

In [3]:
X = iris.data

In [4]:
y = iris.target

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=1
)

In [7]:
from sklearn.naive_bayes import GaussianNB

In [8]:
gnb = GaussianNB()

In [9]:
gnb.fit(X_train, y_train)

GaussianNB()

In [10]:
y_pred = gnb.predict(X_test)

In [11]:
from sklearn import metrics

In [12]:
metrics.accuracy_score(y_test, y_pred)

0.9666666666666667

In [13]:
import nltk

In [14]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

*Go to the "Models" tab and select "punkt" from the "Identifier" column.*

In [15]:
import pandas as pd

In [16]:
df = pd.read_table(
    "SMSSpamCollection", sep="\t", header=None,
    names=["label", "message"]
)

In [17]:
df.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [18]:
df["label"] = df.label.map({"ham": 0, "spam": 1})

In [19]:
df.head()

   label                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [20]:
df["message"] = df.message.map(lambda x: x.lower())

```python

sum = lambda x, y: x +y

def sum(x, y):
    return x + y

---

def t_lower(x):
    return x.lower()

df["message"] = df.message.map(to_lower)

```

In [21]:
df.head(10)

   label                                            message
0      0  go until jurong point, crazy.. available only ...
1      0                      ok lar... joking wif u oni...
2      1  free entry in 2 a wkly comp to win fa cup fina...
3      0  u dun say so early hor... u c already then say...
4      0  nah i don't think he goes to usf, he lives aro...
5      1  freemsg hey there darling it's been 3 week's n...
6      0  even my brother is not like to speak with me. ...
7      0  as per your request 'melle melle (oru minnamin...
8      1  winner!! as a valued network customer you have...
9      1  had your mobile 11 months or more? u r entitle...

In [22]:
df["message"] = df.message.str.replace("[^\w\s]", "")

/var/folders/gk/fddl43fd163gdtc83k14z_h00000gn/T/ipykernel_30752/2904496813.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["message"] = df.message.str.replace("[^\w\s]", "")

In [23]:
df.head(10)

   label                                            message
0      0  go until jurong point crazy available only in ...
1      0                            ok lar joking wif u oni
2      1  free entry in 2 a wkly comp to win fa cup fina...
3      0        u dun say so early hor u c already then say
4      0  nah i dont think he goes to usf he lives aroun...
5      1  freemsg hey there darling its been 3 weeks now...
6      0  even my brother is not like to speak with me t...
7      0  as per your request melle melle oru minnaminun...
8      1  winner as a valued network customer you have b...
9      1  had your mobile 11 months or more u r entitled...

In [24]:
help(nltk.word_tokenize)

Help on function word_tokenize in module nltk.tokenize:

word_tokenize(text, language='english', preserve_line=False)
    Return a tokenized copy of *text*,
    using NLTK's recommended word tokenizer
    (currently an improved :class:`.TreebankWordTokenizer`
    along with :class:`.PunktSentenceTokenizer`
    for the specified language).

    :param text: text to split into words
    :type text: str
    :param language: the model name in the Punkt corpus
    :type language: str
    :param preserve_line: A flag to decide whether to sentence tokenize the text or not.
    :type preserve_line: bool

In [25]:
df.message[0]

'go until jurong point crazy available only in bugis n great world la e buffet cine there got amore wat'

In [26]:
nltk.word_tokenize(df.message[0])

['go',
 'until',
 'jurong',
 'point',
 'crazy',
 'available',
 'only',
 'in',
 'bugis',
 'n',
 'great',
 'world',
 'la',
 'e',
 'buffet',
 'cine',
 'there',
 'got',
 'amore',
 'wat']

In [27]:
df["message"] = df["message"].apply(nltk.word_tokenize)

In [28]:
df.head(10)

   label                                            message
0      0  [go, until, jurong, point, crazy, available, o...
1      0                     [ok, lar, joking, wif, u, oni]
2      1  [free, entry, in, 2, a, wkly, comp, to, win, f...
3      0  [u, dun, say, so, early, hor, u, c, already, t...
4      0  [nah, i, dont, think, he, goes, to, usf, he, l...
5      1  [freemsg, hey, there, darling, its, been, 3, w...
6      0  [even, my, brother, is, not, like, to, speak, ...
7      0  [as, per, your, request, melle, melle, oru, mi...
8      1  [winner, as, a, valued, network, customer, you...
9      1  [had, your, mobile, 11, months, or, more, u, r...

In [29]:
from nltk.stem import PorterStemmer

In [30]:
stemmer = PorterStemmer()

In [31]:
df["message"] = df["message"].apply(
    lambda x: [stemmer.stem(y) for y in x]
)

In [32]:
df.head(10)

   label                                            message
0      0  [go, until, jurong, point, crazi, avail, onli,...
1      0                       [ok, lar, joke, wif, u, oni]
2      1  [free, entri, in, 2, a, wkli, comp, to, win, f...
3      0  [u, dun, say, so, earli, hor, u, c, alreadi, t...
4      0  [nah, i, dont, think, he, goe, to, usf, he, li...
5      1  [freemsg, hey, there, darl, it, been, 3, week,...
6      0  [even, my, brother, is, not, like, to, speak, ...
7      0  [as, per, your, request, mell, mell, oru, minn...
8      1  [winner, as, a, valu, network, custom, you, ha...
9      1  [had, your, mobil, 11, month, or, more, u, r, ...

In [33]:
from sklearn.feature_extraction.text import CountVectorizer

In [34]:
df["message"] = df["message"].apply(lambda x: ' '.join(x))

In [36]:
df.head(1)

   label                                            message
0      0  go until jurong point crazi avail onli in bugi...

In [37]:
count_vect = CountVectorizer()

In [38]:
counts = count_vect.fit_transform(df["message"])

In [43]:
from sklearn.feature_extraction.text import TfidfTransformer

In [44]:
transformer = TfidfTransformer().fit(counts)

In [45]:
counts = transformer.transform(counts)

In [46]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    counts, df["label"], test_size=0.1, random_state=71
)

In [47]:
from sklearn.naive_bayes import MultinomialNB

In [48]:
model = MultinomialNB().fit(X_train, y_train)

In [49]:
y_pred = model.predict(X_test)

In [51]:
import numpy as np

In [52]:
np.mean(y_pred == y_test)

0.9372759856630825

In [53]:
from sklearn.metrics import confusion_matrix

In [54]:
print(confusion_matrix(y_test, y_pred))

[[471   0]
 [ 35  52]]

In [66]:
df.label.value_counts()

0    4825
1     747
Name: label, dtype: int64